.form-container{
    padding-left: 40px;
    height: 90%;
}

.website-container{
    height: 100vh;
    background-image: url('../img/banner_pet_2.jpg');
}

.home-information{
    border-radius: 20px;
}

.home-text{
    font-family: 'Cabin', sans-serif;   
    font-size: 1.5rem;
}

.home-text span{
    font-weight: bold;
}

.ver-consultas{
    background-color: transparent !important;
    border: solid #4db6ac 2px !important;
}